{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_cms/manage

 
    Example context (json):
    {
        
    }
}}

<html> 
<head> 
	<meta charset="UTF-8"> 
	<title>mustache</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<style>
.hov:hover {
  background-color: black;
}
       
       
    </style>
	</head> 
	<body> 
			


<h3 class="mt-5 text-center" style="color:red"; }> User Information</h3>

<table class="table table-hover table-striped ">
   <thead class="thead-dark">
    <tr>
    <th scope="col" class="text-center">Id </th>
      <th scope="col" class="text-center">Name </th>
      <th scope="col" class="text-center" >Email</th>
      <th scope="col" class="text-center">phone</th>
      <th scope="col" class="text-center">Sex</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#texttodisplay}}
     <tr>
     <td class="text-center">{{id}}</td>
          <td class="text-center">{{name}}</td>
          <td class="text-center">{{email}}</td>
          <td class="text-center">{{phone}}</td>
          <td class="text-center">{{sex}}</td>
          <td class="text-center">
              <a href="{{editurl}}/?id={{id}}" class="btn btn-info">Edit </a>
              <button id="delete-btn-{{id}}" class="btn btn-danger delete-btn">Delete </button>
          </td>
     </tr>
    {{/texttodisplay}}
  </tbody>
</table>

<div class="text-center mt-5 pt-5">
    <a href="{{editurl}}" class="btn btn-primary">Create Entry </a>
</div>
	</body> 
	</html> 



